.container .jumbotron {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.forgeViewer {
    border:1px solid silver; padding: 0;
    height:500px; vertical-align: middle;
    background-repeat: no-repeat; background-position: center;
    overflow: hidden;
    width: 890px;
}
.forgeTreeContainer {
    overflow: hidden; padding:0;  border:1px solid silver; height:500px; width:891px;
}
.forgeControlContainer {
    padding: 10px;
    width: 100%; position: absolute;
    display: inline-block; overflow: auto;
    background-color: white;
}
.forgeControl {
    width: 100%; position: absolute;
    display: inline-block; overflow: auto;
}
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}


#forgeHierarchy {
    height: 250px; top: 0;
}
#forgeFileOptions {
    height: 55px;   top: 245px;
    border-top-width: 1px; border-top-color: silver; border-top-style: solid;
}
#forgeProperties {
    height: 195px;  bottom: 0;
    border-top-width: 1px; border-top-color: silver; border-top-style: solid;
}
#forgeUpload {
    height: 55px;   bottom: 0px;
    border-top-width: 1px; border-top-color: silver; border-top-style: solid;
    overflow: hidden;
}
#forgeFiles {
    height: 445px;
    overflow: auto;
}
#forgeFormats {
    vertical-align: middle;
}
#forgeUploadHidden {
    visibility: hidden;
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.btn-primary.active {
    background-color: limegreen;
}

.toolbarFusionButton {
    background-image: url(/img/fusion.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

